#map {
    /*width: 80%;   /* Adjust the width as needed */
    /*height: 500px; /* Adjust the height as needed */
    /*margin: 0 auto; /* Center the map horizontally */
    /*border: 2px solid #ccc; /* Optional: Add a border to the map */
    height: 100vh; 
    width: 100%; 
    /* position: relative; Make it relative for positioning title and inputs */
}

.map-title {
    position: absolute;
    top: 10px;
    left: 8%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px 10px;
    font-size: 18px;
    z-index: 1000;
}

/* Style for the input boxes */
.map-inputs {
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    z-index: 1000;
    display: flex;
    gap: 10px;
}

.map-inputs input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
