<!DOCTYPE html>
<html>
<head>
    <title>Metro Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="/static/styles.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    

</head>
<body>
    <div id="map">
    <div class="map-title">City Metro Map</div>
    <div class="map-inputs">
        <form method="post" id="route-form" onsubmit="return searchRoute(event);">
            <input type="text" id="start_point" name="start_point" list="stop_list" placeholder="From" onchange="highlightMarkers()">
            <input type="text" id="end_point" name="end_point" list="stop_list" placeholder="To" onchange="highlightMarkers()">
            <datalist id="stop_list">
                {% for stop in stops %}
                    <option value="{{ stop[1] }}">{{ stop[1] }}</option>
                {% endfor %}
            </datalist>
            <input type="submit" value="Search route" >
        </form>
    </div>
</div>
<div id="route-summary">
    <h2>Route Summary</h2>
    <div id="route-details">
        <ul id="route-list">
            <!-- List of stops will be populated here -->
        </ul>
    </div>
</div>


    <script>
        
        var map = L.map('map').setView([28.7041, 77.1025],12); //  city's latitude, longitude and initial zoom
        
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
            maxZoom: 14,
            attribution: '© OpenStreetMap'
        }).addTo(map);
        

        var stops = {{ stops | tojson | safe }};// stops data is safely converted to JSON
        var markers = {};
        var startMarker = null;
        var endMarker = null;

        // var datalist = document.getElementById('stop_list');
        // stops.forEach(function(stop){
        //     var option = document.createElement('option');
        //     option.value = stop[1];
        //     datalist.appendChild(option);  
        // });


        stops.forEach(function(stop) {
            var marker = L.circleMarker([stop[2], stop[3]], {
                color: 'blue', // default color
                radius: 8
            }).addTo(map)
            .bindPopup(stop[1]);
            markers[stop[1]] = marker; // Assuming stop[1] is the name of the metro stop
        });
            

        var routechecker =[];

        // Fetch routes data passed from the FastAPI backend
        var routes = {{ routes | tojson | safe }};        
        // Plot each route on the map
        routes.forEach(function(route) {
            var latlngs = route.points;
            var polyline = L.polyline(latlngs, {color: route.color}).addTo(map);
            routechecker.push(polyline);
        });
        function highlightMarkers() {
            var startPoint = document.getElementById('start_point').value;
            var endPoint = document.getElementById('end_point').value;

            // Reset previous markers to default color
            if (startMarker) {
                startMarker.setStyle({ color: 'blue' });
            }
            if (endMarker) {
                endMarker.setStyle({ color: 'blue' });
            }

            // Set new markers to highlighted color
            if (markers[startPoint]) {
                startMarker = markers[startPoint];
                startMarker.setStyle({ color: 'red' });
            }

            if (markers[endPoint]) {
                endMarker = markers[endPoint];
                endMarker.setStyle({ color: 'green' });
            }
        }
        
        function routeDisplay(routeName){
            var slist = document.getElementById('route-list');
            slist.innerHTML = ''; 
            routeName.forEach(function(stop){
                var li = document.createElement('li');
                li.textContent = stop;
                slist.appendChild(li);

            });
        }


        // Function to plot the shortest path
        function plotShortestPath(path) {
            routechecker.forEach(function(layer) {
                map.removeLayer(layer);
            });
            routechecker = [];
            var latlngs = [];
            console.log(path);
            path.forEach(function(coords) {
                latlngs.push([coords[0], coords[1]]);
            });
            var polyline = L.polyline(latlngs, {color: 'red', weight: 4}).addTo(map);
            routechecker.push(polyline);
        }




        function searchRoute(event){
            event.preventDefault();
            var formElement = document.getElementById('route-form');
            var data = new FormData(formElement);
            console.log(data);

            fetch('/searchRoute',{
                method:'POST',
                body: data,

            })
            .then(resp => resp.json())
            .then(data =>{
                plotShortestPath(data.path);
                routeDisplay(data.routeName);
            })
            .catch(error => {
                console.error(error);
            });
            return False
        }
        




        map.on('zoomend', function() {
            var zoomLevel = map.getZoom();
            var title = document.querySelector('.map-title');
            var inputs = document.querySelector('.map-inputs');
            if (zoomLevel < 12) {
                title.style.display = 'none';
                inputs.style.display = 'none';
            } else {
                title.style.display = 'block';
                inputs.style.display = 'flex';
            }
        });    
        
        
    </script>
</body>
</html>
