<!DOCTYPE html>
<html>
<head>
    <title>City Metro Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <style>
        #map { height: 80vh; width: 100%; }
    </style>
</head>
<body>
    <h1>City Metro Map</h1>
    <div id="map"></div>
    <script>
        var map = L.map('map').setView([28.7041, 77.1025], 13); // Default to your city's latitude and longitude

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '© OpenStreetMap'
        }).addTo(map);

        // Fetch stops data passed from the FastAPI backend
        var stops = {{ stops | tojson | safe }};
        
        // Plot each stop on the map
        stops.forEach(function(stop) {
            L.marker([stop[2], stop[3]]).addTo(map)
                .bindPopup(stop[1]); // Assuming stop[1] is the name of the metro stop
        });

        // Fetch routes data passed from the FastAPI backend
                // function plotShortestPath(path) {
        //     var latlngs = [];
        //     path.forEach(function(stop_id) {
        //         var stop = stops.find(s => s[0] === stop_id);
        //         if (stop) {
        //             latlngs.push([stop[2], stop[3]]);
        //         }
        //     });
        //     L.polyline(latlngs, {color: 'red', weight: 5}).addTo(map);
        // }
        
        
        
        // var path = {{ short_path | tojson | safe }};
        // console.log(path);
        // if (path){         
                        
        //     plotShortestPath(path);
        SELECT st1.stop_id, st2.stop_id,
            EXTRACT(EPOCH FROM (st2.arrival_time::time - st1.departure_time::time)::interval) as travel_time
        FROM stop_times st1
        JOIN stop_times st2 
            ON st1.trip_id = st2.trip_id 
            AND st1.stop_sequence + 1 = st2.stop_sequence;
    """
      
    </script>
</body>
</html>


